* text=auto eol=lf

# Binaires (indispensables à ne pas corrompre par EOL)
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.docx binary
*.pdf binary

# Frontend
*.ts eol=lf
*.tsx eol=lf
*.css eol=lf
*.html eol=lf
*.json eol=lf

# Backend
*.py eol=lf
*.md eol=lf
*.sql eol=lf
*.yml eol=lf
*.yaml eol=lf
